<html>

<title>Currency Page</title>

<body>
<form action='/currencyClient' >

<input type='number' name='cval' placeholder='currency' /><br /><br />


<input type='submit' name='btnsubmit' />

</form>
</body>
</html>