extends layout

block content
		h1 Guest Details
		table(border="1")
			thead
				tr(style={'background-color': 'yellow'})
					th Id
					th Name
					th Contact Number
					th Location
			tbody
				each guest,i in guests
					tr
						td #{guest.guestId}
						td #{guest.guestName}
						td #{guest.contactNumber}
						td #{guest.location}
						
						